<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM
"http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console"
		class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} [%p] %m%n" />
		</layout>
	</appender>


	<!-- //날짜별 로그 파일 생성 하기 -->
	<appender name="dailyRollingFile"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File"
			value="/06_Framework_Logs/runtime.log" />
		<param name="Append" value="true" />
		<param name="encoding" value="UTF-8" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss} [%p] %m%n" />
		</layout>
	</appender>
	
	<!-- log level
	trace -> debug -> info -> warn -> error -> fatal
	
	TRACE : 디버그 레벨이 너무 광범위한 것을 해결하기 위해서 좀 더 상세한 이벤트를 나타낸다. 
	
	DEBUG : 개발시 디버그 용도로 사용하는 메시지를 나타낸다.
	
	INFO : 어떠한 상태 변경과 같은 정보성 메시지를 나타낸다.
	
	WARN : 프로그램의 실행에는 문제가 없지만, 향후 시스템 에러의 원인이 될 수 있는 경고성 메시지를 
			나타낸다. WARN에서도 2가지의 부분에선 종료가 일어남
	
		- 명확한 문제 : 현재 데이터를 사용 불가, 캐시값 사용 등
		
		- 잠재적 문제 : 개발 모드로 프로그램 시작, 관리자 콘솔 비밀번호가 보호되지 않고 접속 등
	
	
	ERROR : 어떠한 요청을 처리하는 중 문제가 발생한 상태를 나타낸다. 프로그램 동작에 큰 문제가 발생했다는 것으로 즉시 문제를 조사해야 하는 것 (DB를 사용할 수 없는 상태, 중요 에러가 나오는 상황)
	
	FATAL : 아주 심각한 에러가 발생한 상태를 나타낸다.(외부적으로만 해결 가능)

	
	
	
	
	 -->
	
	<!-- Application Loggers -->
	<logger name="edu.kh.project">
		<level value="debug" />
		<appender-ref ref="dailyRollingFile"/>
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
